---
import AddRowButton from './AddRowButton.astro';
import ComparisonGridHeader from './ComparisonGridHeader.astro';
import NewCell from './NewCell';
import NewColumnHeader from './NewColumnHeader';
import NewDeleteButton from './NewDeleteButton';
import NewRowHeader from './NewRowHeader';
---

<div class="background">
    <table class="table" data-edition-table>
        <thead>
            <tr>
                <td>
                    <ComparisonGridHeader />
                </td>
                <th data-table-column="1">
                    <Fragment set:html={NewColumnHeader('Free Starter Pack')} />
                </th>
                <th data-table-column="2">
                    <Fragment set:html={NewColumnHeader('Standard Edition')} />
                </th>
                <th data-table-column="3">
                    <Fragment set:html={NewColumnHeader('Deluxe Edition')} />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <Fragment set:html={NewRowHeader('ICA Training Facility')} />
                </th>
                <td data-table-column="1">
                    <Fragment set:html={NewCell()} />
                </td>
                <td data-table-column="2">
                    <Fragment set:html={NewCell(true)} />
                </td>
                <td data-table-column="3">
                    <Fragment set:html={NewCell(true)} />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <AddRowButton />
                </td>
                <td data-table-column="1">
                    <Fragment set:html={NewDeleteButton()} />
                </td>
                <td data-table-column="2">
                    <Fragment set:html={NewDeleteButton()} />
                </td>
                <td data-table-column="3">
                    <Fragment set:html={NewDeleteButton()} />
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<script is:inline>
    function selectCover(element) {
        const newImageUrl = window.URL.createObjectURL(element.files[0]);
        const oldImageUrl = element.parentElement.style.backgroundImage.slice(
            5,
            -2
        );
        if (oldImageUrl.startsWith('blob:')) {
            window.URL.revokeObjectURL(oldImageUrl);
        }
        element.parentElement.style.backgroundImage = `url("${newImageUrl}")`;
        element.dataset.imageApplied = true;
    }

    function deleteColumn(deleteButton) {
        const tableColumn = deleteButton.parentElement.dataset.tableColumn;
        const parsedTableColumn = parseInt(tableColumn);
        document.querySelectorAll(`[data-table-column]`).forEach((element) => {
            if (element.dataset.tableColumn === tableColumn) {
                element.remove();
            }
            const elementTableColumn = parseInt(element.dataset.tableColumn);
            if (elementTableColumn > parsedTableColumn) {
                element.dataset.dataColumn = `${parsedTableColumn - 1}`;
            }
        });
    }
</script>

<style is:global>
    .table {
        border-collapse: separate;
        border-spacing: 1px 4px;
    }

    .background {
        background-image: url('/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: fit-content;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    .edition-cover {
        display: flex;
        width: 100%;
        height: 22ch;
        justify-content: center;
        background-size: cover;
        align-items: center;
        background-position: center;
    }

    .edition-cover-selector {
        color: transparent;
        width: 9ch;
    }

    .edition-cover .edition-cover-selector[data-image-applied] {
        visibility: hidden;
    }

    .edition-cover:hover .edition-cover-selector[data-image-applied] {
        visibility: visible;
    }

    .table th {
        text-transform: uppercase;
    }

    .table thead th {
        background-color: white;
        color: #2c2c2c;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        padding-bottom: 0.25em;
        min-width: 16ch;
        width: 16ch;
        max-width: 16ch;
        vertical-align: top;
        line-height: 1;
    }

    .table th p {
        margin: 0;
    }

    .table tbody th,
    .table tbody td {
        background-color: #2f414588;
        height: 2.5em;
    }

    .table tbody td {
        padding: 0;
        position: relative;
    }

    .included-button {
        background-color: #f8021b;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        font-size: inherit;
        font-family: inherit;
        border: none;
        display: flex;
        gap: 0.5ch;
        justify-content: center;
        align-items: center;
    }

    .included-button:not([aria-pressed='true']) {
        opacity: 0;
    }

    .included-button:not([aria-pressed='true']):hover {
        opacity: 0.5;
    }

    .included-button::before {
        content: '';
        width: 16.1667px;
        height: 16.1667px;
        background-image: url('/arrow.svg');
        background-size: contain;
        display: block;
    }

    .table tbody th {
        color: #d0d3d6;
        padding-left: 2ch;
        position: relative;
        padding-right: 1ch;
        text-align: right;
    }

    .table tbody th::after {
        content: '';
        position: absolute;
        right: -1px;
        top: 0;
        width: 1px;
        background-color: #2f414588;
        height: 100%;
    }
</style>
